/* .App {
    margin: 0%;
    padding: 0%;
}
 */
 .home {
    background-color: $color-global-white;
    height: 100%;
/*     margin: 0%;
    padding: 0%; */


    & img {
        max-width: 20%;
        height: auto;
        //background-color: white;
        
        
    };
};
.selecciona {
    margin: 0;
    padding: 3em;
}
.iconos {
    //display: flex;
    border-style: double;
    border-radius: 2em;
    border-width: 1em;
    border-color: black;
    background-color: aqua;
    //border: 5em;
    margin: 1em;
    
    
}
.campos {
    background-color: pink;
    border-style: double;
}
/* img {
    max-width: 20%;
    height: auto;
    background-color: white;
}; */

.boton {
    max-width: 25%;
    height: auto;
    background-color: $color-secondary;
    margin: 2em;
    
}