.home {
    background-color:$color-primary-faded;
    height: 100%;
    padding-top: 5em;
    & .selecciona {
        margin: 0;
        padding: 1em;
        color: white;
        font-size: large
    };
    & .iconos {
        border-style: double;
        border-radius: 2em;
        border-width: 1em;
        border-color: black;
        background-color: aqua;
        margin: 1em;
        
        & .boton {
            max-width: 25%;
            height: auto;
            margin: 2em;
            padding-top: 200;
        };

        & img {
            max-width: 20%;
            height: auto;
            padding: 1em;
        };
    }
};
