/* /* .App {
    margin: 0%;
    padding: 0%;
}
 */
/* .main {
    background-color: $color-global-white;
    height: 100%; */
/*     margin: 0%;
    padding: 0%; */


   /*  & img {
        max-width: 20%;
        height: auto; */
        //background-color: white;
        
 /*        
    };
};
.selecciona {
    margin: 0;
    padding: 3em;
}
.iconos {
    //display: flex;
    border-style: double;
    border-radius: 2em;
    border-width: 1em;
    border-color: black;
    background-color: aqua;
    //border: 5em;
    margin: 1em;
    
    
}
.campos {
    background-color: pink;
    border-style: double;
} */
/* img {
    max-width: 20%;
    height: auto;
    background-color: white;
}; 

.boton {
    max-width: 25%;
    height: auto;
    background-color: $color-secondary;
    margin: 2em;
    
} */

*{
    box-sizing: border-box;
}
.select, .label{
    font-size: x-large;
};

.marcoPrincipal {
//    max-width: 90%;
    display: inline-block;
    background-color: pink;
    height: 89vh;
    
    //background-color: $color-global-white;
    & .campo {
        margin: 0;
        padding: 1em;
    }
    & button {
        max-width: 20%;
        height: auto;
    };
    & #intercambio {
        max-width: 20%;
        height: auto;
    };
    & .unidad {
        margin: 0%;
        padding: 0%;
    };
}
.select {
    background-color: red;
    border-style: double;

    max-width: 90%;
    display: inline-block;

    padding: 0.5em;
};
.camposdecambio {
    background-color: green;
    border-style: double;

    max-width: 90%;
    display: inline-block;

    padding: 0.5em;
    & .convertir {
        width: 40%;
        text-align: center;
    }
};
.unidades {
    display: none;
    background-color: blue;
    border-style: double;

    max-width: 90%;
    display: inline-block;

    padding: 0.5em;

    & .unidad {
        display: none;
        font-size: xx-large;
    }
}
