.nav {
    background-color: $color-primary;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & .bt_Nav { //Hemen ikono marraskiak sartu behar dira!!
        background-color: $color-secondary;
        color: white;
        font-size: large;
        
        
    
        //justify-content:space-between;
    }
};

