.temperatura {
    & button {
        max-width: 20%;
        height: auto;
    };
    & #intercambio {
        max-width: 20%;
        height: auto;
    }
}

.intercambio {
    max-width: 20%;
    height: auto;
}