.temperatura {
    background-color: pink;
    & button {
        max-width: 20%;
        height: auto;
    };
    & #intercambio {
        max-width: 20%;
        height: auto;
    }
}

.intercambio {
    max-width: 20%;
    height: auto;
}

.convertir {
    width: 20%;
    font-size: xx-large;
    height: 2em;
}