// colors

$color-primary: #002B5B;
$color-primary-faded: #2B4865;
//$color-interactive-elements: #19bfb7;
$color-secondary: #256D85;
$color-global-white: #8FE3CF;
//$color-third: #242323;
//$color-button: #5086bd;

// breakpoint
$desktop-breakpoint: 80rem;